<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Reserve Book</title>

	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/css/datepicker3.css" rel="stylesheet">
	<link href="../static/css/bootstrap-table.css" rel="stylesheet">
	<link href="../static/css/styles.css" rel="stylesheet">

	<!--Icons-->
	<script src="../static/js/lumino.glyphs.js"></script>

	<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>{##}
<script src="js/respond.min.js"></script>{##}
<![endif]-->

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>Hello ： </span>Admin</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user">
								<use xlink:href="#stroked-male-user"></use>
							</svg> admin <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><svg class="glyph stroked gear">
										<use xlink:href="#stroked-gear"></use>
									</svg> setting</a></li>
							<li><a href="#"><svg class="glyph stroked cancel">
										<use xlink:href="#stroked-cancel"></use>
									</svg> quit</a></li>
						</ul>
					</li>
				</ul>
			</div>

		</div><!-- /.container-fluid -->
	</nav>
		
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li><a href="/index"><svg class="glyph stroked dashboard-dial">
						<use xlink:href="#stroked-dashboard-dial"></use>
					</svg>DashBoard</a></li>
			<li class="active"><a href="/student"><svg class="glyph stroked table">
						<use xlink:href="#stroked-table"></use>
					</svg>Student Information</a></li>
			<li><a href="/book"><svg class="glyph stroked pencil">
						<use xlink:href="#stroked-table"></use>
					</svg>Book Information</a></li>
			<li><a href="/forms"><svg class="glyph stroked pencil">
						<use xlink:href="#stroked-pencil"></use>
					</svg>Reservation Book</a></li>
			<li role="presentation" class="divider"></li>
		</ul>

	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Reserve Book</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Reserve Book</h1>
			</div>
		</div><!--/.row-->
				
		
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Student Reserve Book</div>
					<div class="panel-body">
						<div class="col-md-6">
							<form action="/server" method="post">
							<div class="col-md-6">
								<div class="form-group">
									<label>Student Name</label>
									<select class="form-control">
                                        {% for student in student_data %}
										    <option name="name">{{ student.first_name }} - {{ student.last_name }}</option>
                                        {% endfor %}
									</select>
								</div>
								<div class="form-group">
									<label>Book Name</label>
									<select class="form-control">
                                        {% for book in book_data %}
										<option name="book_name">{{ book.book_title }}</option>
                                        {% endfor %}
									</select>
								</div>
								<button  type="submit" class="btn btn-primary" >Reserve</button>
							</div>
						</form>
					</div>
				</div>
			</div><!-- /.col-->
		</div><!-- /.row -->
		
	</div><!--/.main-->

	<script src="../static/js/jquery-1.11.1.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/chart.min.js"></script>
	<script src="../static/js/bootstrap-datepicker.js"></script>
	<script>

        function Parsefunc(){
//		var dataname = $(this).attr('name');
//		alert(dataname);
            alert('Reserve Book Success')
		/*$.ajax({
			url:"http://localhost:8000/server/",
			type:"POST",
			contentType: "application/json",
			data:JSON.stringify({
				'student':dataname,
                'book':bookname
			}),
			success:function(response){
				window.wxc.xcConfirm("成功", window.wxc.xcConfirm.typeEnum.success);
			},
	    	error:function(response){
	    		window.wxc.xcConfirm("失败", window.wxc.xcConfirm.typeEnum.error);
	    	}
		})*/
	}
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
</body>

</html>
